.nav-btn-prev{
	padding-top: 0.5rem;
	padding-left: 2.5rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	float: left;
}

.nav-btn-next{
	padding-top: 0.5rem;
	padding-left: 2.5rem;
	margin-bottom: 2rem;
	margin-right: 2rem;
	float: right;
}