.title{
	text-align: center;
}

.carousel {
	padding: 4rem;
}

.carouselDiv {
	padding-bottom: 100rem;
	text-align: center;
	p {
		margin-bottom: 0;
	}
}

.carouselImage {
	width: 70%;
}

.carousel-caption {
	h3 {
		text-shadow: 1px 1px black;
	}
	p {
		text-shadow: 1px 1px black;
	}
}