.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #4B5877;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.mainDiv{
	background-color: #4B5877;
}

.title{
	color: #ffffff;
	font-size: 5rem;
}
